# Ignore ROS 2 build artifacts
build/
install/
log/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Gazebo models (we download them fresh on new machines)
gazebo_models/

# Ignore local IDE settings
.vscode/
.DS_Store